* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  }
  a {
    text-decoration: none;
  }
  ul {
    margin-bottom: 0;
  }
  
  li {
    list-style-type: none;
  }
  .btn {
    border-radius: 5px;
    padding: 10px 32px;
    font-weight: 700;
  }
  
  /* CSS HEADER */
  header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(200, 196, 196);
  }
  
  /* CSS HEADER TOP */
  .header-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1474fc;
    color: white;
    align-items: center;
    padding: 0 50px;
    
  }
  .header-top > * {
    display: flex;
    align-items: center;
    gap: 10px;
   
  }
  
  /* CSS HEADER TOP RIGHT */
  .header-top-right {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #account-user {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
  }


  
  .search {
    background-color: #1f62c0;
    border-radius: 5px;
    padding: 5px;
  }
  #inp-search {
    background-color: #1f62c0;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
  }
  #inp-search::placeholder {
    color: white;
  }
  
  #inp-search:focus-visible {
    outline: none;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-wrap: nowrap;
  }
  
  #btn-register {
    background-color: #ff0000;
    border: 1px solid #ff0000;
    outline: none;
    color: white;
    
    
  }

  #btn-register:hover {
    background-color: #b91717;
    border: 1px solid #b91717;
  }
  
  #btn-login {
    background-color: #1474fc;
    border: 1px solid white;
    outline: none;
    color: white;
    
  }

  #btn-login:hover {
    background-color: #1867d5;
  }

  #btn-logout {
    background-color: #1474fc;
    border: 1px solid white;
    outline: none;
    color: white;
    
  }

  #avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #b3abab;
    cursor: pointer;
  }

  #avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

  }
  
  /* CSS HEADER TOP LEFT */
  .header-top-left {
    display: flex;
    
  }

    .header-top-left li {
    display: flex;
    align-items: center;
    gap: 5px;
    
  }
  
  .header-top-left li a {
    color: white;
    display: flex;
   align-items: center;
   gap: 5px;
  }
  
  
  /* CSS HEADER BOTTOM */
  .header-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    color: white;
    align-items: center;
    padding: 0 50px;
  }
  
  .header-bottom .header-container-right {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 15px;
    
  }
  
  .header-container-right > * {
    color: #455170;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 20px;
  }

   .header-container-right > li:hover {
    border: 1px solid #77AEFB;
    color: white;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
   }